.grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .cell {
    background-color: #e6dada;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .cell.value-2{ background-color: #f992ad; }
  .cell.value-4{ background-color: #fbbcee; }
  .cell.value-8{ background-color: #fab4c8; }
  .cell.value-16{ background-color: #f78ecf; }
  .cell.value-32{ background-color: #cfb9f7; }
  .cell.value-64{ background-color: #e0cefd; }
  .cell.value-128{ background-color: #a480f2; }
  .cell.value-256{ background-color: #d4b0f9; }
  .cell.value-512{ background-color: #c580ed; }
  
  .cell.selected {
    background-color: #ffffff;
  }

  .cell.impossible {
    background-color: #ff0015ec;
  }

  .Box{
    margin-top: 20px;
    padding: 10px;
  }

  .title{
    margin: 0;
    align-items: center;
    display: flex;
    font-size: 40px;
  }

  .button-box{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 265px;
  }

  .resetButton{
    margin-top: 20px;
  }
