.grid {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 80px);
    gap: 10px;
    justify-content: center;
    margin-top: 70px;
  }
  
  .cell {
    background-color: #e6dada;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .grid {
    width: 100%;
  }
  
  .cell.selected {
    background-color: #84d5e9;
  }

  .cell.impossible {
    background-color: #ff0015;
  }